<header class="bg-gradient-to-r from-yellow-400 to-yellow-200 shadow-md">
  <nav class="mx-auto flex items-center justify-between gap-x-8 p-6 lg:px-12" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="/" class="-m-1.5 p-1.5 flex items-center space-x-2">
        <h1 class="text-4xl italic font-bold text-gray-900">
          <span class="relative inline-block">
            <span class="absolute inset-0 transform -skew-y-3 bg-orange-500 -z-10 rounded-md px-3 py-1"></span>
            <span class="relative text-white px-2">SS</span>
          </span>
        </h1>
      </a>
    </div>

    <div class="flex flex-1 items-center justify-end gap-x-8">
      <a href="/login" class="hidden lg:block text-lg font-semibold text-gray-900 relative group">
        Log in
        <span class="absolute left-0 bottom-0 w-0 h-1 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
      </a>
      <a href="/signup" class="rounded-md bg-gradient-to-r from-orange-500 to-orange-600 px-5 py-2 text-lg font-semibold text-white shadow-lg hover:bg-orange-600 transition duration-300 transform hover:scale-105">
        Sign up
      </a>
    </div>
  </nav>
</header>
